.catalog-descr {
    padding: 0px 0px 100px;

    // .catalog-descr__container

    &__container {}

    // .catalog-descr__body

    &__body {}

    // .catalog-descr__title

    &__title {
        font-size: 40px;
        color: #000000;
        margin-bottom: 29px;
    }

    // .catalog-descr__text

    &__text {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: #1B1B1B;
    }
}