.catalog-descr {
    padding: 0px 0px 100px;

    @media screen and (max-width: 700px) {
        padding: 0px 0px 40px;
    }

    // .catalog-descr__container

    &__container {}

    // .catalog-descr__body

    &__body {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
        gap: 80px;

        @media screen and (max-width: 550px) {
            grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
            gap: 20px;
        }
    }

    // .catalog-descr__title

    &__title {
        font-size: 25px;
        color: #000000;
        margin: 30px 0px 20px;
    }

    // .catalog-descr__text

    &__text {
        font-weight: 500;
        font-size: 16px;
        line-height: 150%;
        color: #1B1B1B;
    }

    // .catalog-descr__item

    &__item {
        display: flex;
        flex-direction: column;

        &:not(:last-child) {
            // margin-bottom: 30px;
        }
    }

    // .catalog-descr__wrapper

    &__wrapper {
        display: flex;
        height: 100%;
    }

    // .catalog-descr__name

    &__name {
        writing-mode: vertical-lr;
        font-weight: 700;
        font-size: 18px;
        margin-right: 20px;
        letter-spacing: .3em;

        span {
            padding: 5px;
            display: flex;
            background-color: $accent;
            -webkit-box-decoration-break: clone;
            box-decoration-break: clone;
            color: $white;
        }
    }

    // .catalog-descr__list

    &__list {
        margin-bottom: 10px;

        li {
            font-size: 15px;
            font-weight: 500;
            line-height: 140%;

            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }
    }

    // .catalog-descr__sphera

    &__sphera {
        flex: 1 1 auto;

        h4 {
            font-size: 20px;
            color: $accent;
            font-weight: 600;
            margin-bottom: 10px;
        }
    }

    // .catalog-descr__sphera--text

    &__sphera--text {
        font-size: 14px;
        line-height: 150%;

        @media screen and (min-width: 769px) {
            // max-width: 1000px;
        }
    }

    // .catalog-descr__company
    &__company {
        margin-top: 20px;
        font-size: 18px;
        line-height: 140%;

        span {
            font-weight: 600;
            color: $accent;
        }
    }

    // .catalog-descr__info
    &__info {
        width: 100%;

        p {
            margin-bottom: 10px;
            line-height: 140%;
        }
    }

    .spollers__item {
        max-width: 400px;
    }

    .spollers__title {
        font-size: 14px;
        width: 100%;

        &::before,
        &::after {
            width: 9px;
            background-color: $accent;
        }
    }

    .spollers__body {}

    // .catalog-descr__choice

    &__choice {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;

        a {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 8px;
            padding: 10px 20px;
            border: 1px solid $accent;
            color: $accent;
            font-weight: 700;
            // transition: $speed_animation;

            &:not(:last-child) {
                margin-right: 20px;
            }

            &:hover {
                background-color: $accent;
                color: $white;
            }
        }
    }

}