.utp {
    width: 100%;

    @media screen and (min-width: 921px) {
        display: flex;
        align-items: center;
    }


    // .utp__carousel

    &__carousel {
        min-width: 0;
        flex: 0 0 50%;
        height: 100%;
    }


    // .utp__slider

    &__slider {
        position: relative;

        .swiper-pagination {
            position: absolute;
            left: 50%;
            bottom: 20px;
            transform: translateX(-50%);
            z-index: 12;
            display: flex;

            @media screen and (min-width: 426px) {
                bottom: 30px;
                left: 90%;
                transform: translateX(0%);
            }
        }
    }

    // .utp__wrapper

    &__wrapper {
        height: 100% !important;
    }

    // .utp__slide

    &__slide {
        position: relative;
        height: 410px;
        display: flex;
        align-items: flex-end;


        @media screen and (min-width: 921px) {
            padding-left: max(15px, calc((100vw - 1339px) / 2));

        }

        @media screen and (max-width: 921px) {
            padding: 0px 15px 0px;
        }
    }

    // .utp__slide--image

    &__slide--image {
        z-index: -1;
        max-width: 100%;
        object-position: top right;
    }

    // .utp__container

    &__container {}

    // .utp__title

    &__title {
        font-weight: 700;
        font-size: 32px;
        line-height: 120%;
        color: $white;
        padding-bottom: 100px;

        span {
            display: inline;
            background-color: $accent;
            -webkit-box-decoration-break: clone;
            box-decoration-break: clone;
            padding: 0px 8px;
        }

        @media screen and (min-width: 426px) {
            max-width: 477px;
        }

        @media screen and (max-width: 426px) {
            font-size: 22px;
            padding-bottom: 48px;
        }
    }

    // .utp__form

    &__form {
        flex: 0 0 50%;
    }
}

.from-utp {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    @media screen and (max-width: 921px) {
        margin: 63px 0px;
    }

    // .from-utp__content

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @media screen and (min-width: 921px) {
            margin-right: max(15px, calc((100vw - 1339px) / 2));
        }

        @media screen and (max-width: 921px) {
            margin-right: 0px;
            padding: 0px 15px;
        }
    }

    // .from-utp__container

    &__container {
        width: 100%;
    }

    // .from-utp__title

    &__title {
        font-weight: 700;
        font-size: 24px;
        line-height: 120%;
        margin-bottom: 18px;

        @media screen and (max-width: 921px) {
            font-size: 22px;
        }
    }

    // .from-utp__subtitle

    &__subtitle {
        font-weight: 600;
        font-size: 14px;
        line-height: 140%;
        text-align: center;
        margin-bottom: 50px;

        span {
            color: $accent;
        }

        @media screen and (min-width: 769px) {
            max-width: 380px;
        }
    }

    // .from-utp__form

    &__form {
        display: flex;
        flex-direction: column;
        // max-width: 276px;
    }

    // .from-utp__input

    &__input {
        width: 100%;
        border-bottom: 1px solid rgba(27, 27, 27, 0.3);
        text-align: center;
        font-family: Inter;
        font-weight: 400;
        font-size: 12px;
        line-height: 132%;
        padding: 6px 0px;

        &::placeholder {
            color: rgba($color: $mainColor, $alpha: .5);
        }

        &:not(:last-child) {
            margin-bottom: 20px;
        }

        &:focus {
            outline: none;
        }

    }

    // .from-utp__buttons

    &__buttons {
        display: flex;
        align-items: center;
    }

    // .from-utp__button

    &__button {
        border-radius: 2px;
        font-weight: 700;
        font-size: 14px;

        // .from-utp__button--red

        &--red {
            width: 210px;
            height: 48px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: $accent;
            color: $white;

            @media screen and (min-width: 425px) {
                margin-right: 7px;
            }
        }

        // .from-utp__transparent

        &--transparent {
            border: 1px solid #BE2E21;
            width: 180px;
            height: 48px;
            color: $accent;
        }
    }

}

.swiper {}

.swiper-wrapper {}

.swiper-slide {}