.reviews {

    // .reviews__container

    &__container {}

    // .reviews__body

    &__body {}

    // .reviews__slider

    &__slider {
        background-color: $accent;
        border-radius: 4px;
        padding: 30px 0px 30px 30px;

        @media screen and (max-width: 1025px) {
            padding: 30px;
        }

        @media screen and (max-width: 769px) {
            padding: 15px;
        }
    }

    // .reviews__wrapper

    &__wrapper {
        height: 100% !important;
    }

    // .reviews__slide

    &__slide {
        background: #FFFFFF;
        border-radius: 4px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    // .reviews__slide--name

    &__slide--name {
        font-weight: 800;
        font-size: 16px;
        line-height: 132%;
        color: #313131;
        margin-bottom: 17px;
    }

    .reviews_active {
        transition: all 2s ease 0s;
        max-height: 1000px;
    }

    .active-read-btn {
        img {
            transform: rotate(-180deg);
        }
    }

    // .reviews__slide--text

    &__slide--text {
        flex: 1 1 auto;
        font-weight: 500;
        font-size: 16px;
        line-height: 132%;
        margin-bottom: 30px;
        max-height: 42px;
        overflow: hidden;
        transition: all .3s ease 0s;
    }

    // .reviews__slide--button

    &__slide--button {
        font-weight: 500;
        font-size: 14px;
        line-height: 132%;
        color: $accent;
        display: flex;
        align-items: center;

        img {
            margin-left: 8px;
            margin-top: 2px;
            transition: all $speed_animation ease 0s;
        }
    }

    .reviews-arrow {
        position: relative;
        margin-top: 15px;
        margin-left: 15px;

        @media screen and (min-width: 700px) {
            display: none;
        }
    }
}