/* 
Вывод изображений в карточке
Шаг 4. Укажите размеры окна
*/
.window {

  & .w1 .window__wrapper {
    width: 106px;
  }

  & .w2 .window__wrapper {
    width: 200px;
  }

  & .w3 .window__wrapper {
    width: 294px;
  }

}

[data-color_id="0"] {
  .w1 .window__bg {
    background-image: url(../img/window/strokes.1.png);
  }

  .w2 .window__bg {
    background-image: url(../img/window/strokes.2.png);
  }

  .w3 .window__bg {
    background-image: url(../img/window/strokes.3.png);
  }

  [data-id="1"] {
    background-image: url(../img/window/win1.svg);
  }

  [data-id="2"] {
    background-image: url(../img/window/win2.svg);
  }

  [data-id="3"] {
    background-image: url(../img/window/win3.svg);
  }
}

[data-color_id="1"] {
  .w1 .window__bg {
    background-image: url(../img/window/strokes.1.color_1.png);
  }

  .w2 .window__bg {
    background-image: url(../img/window/strokes.2.color_1.png);
  }

  .w3 .window__bg {
    background-image: url(../img/window/strokes.3.color_1.png);
  }

  [data-id="1"] {
    background-image: url(../img/window/win1_color_1.png);
  }

  [data-id="2"] {
    background-image: url(../img/window/win2_color_1.png);
  }

  [data-id="3"] {
    background-image: url(../img/window/win3_color_1.png);
  }

}

[data-color_id="2"] {
  .w1 .window__bg {
    background-image: url(../img/window/strokes.1.color_2.png);
  }

  .w2 .window__bg {
    background-image: url(../img/window/strokes.2.color_2.png);
  }

  .w3 .window__bg {
    background-image: url(../img/window/strokes.3.color_2.png);
  }

  [data-id="1"] {
    background-image: url(../img/window/win1_color_2.png);
  }

  [data-id="2"] {
    background-image: url(../img/window/win2_color_2.png);
  }

  [data-id="3"] {
    background-image: url(../img/window/win3_color_2.png);
  }
}

[data-color_id="3"] {
  .w1 .window__bg {
    background-image: url(../img/window/strokes.1.color_3.png);
  }

  .w2 .window__bg {
    background-image: url(../img/window/strokes.2.color_3.png);
  }

  .w3 .window__bg {
    background-image: url(../img/window/strokes.3.color_3.png);
  }

  [data-id="1"] {
    background-image: url(../img/window/win1_color_3.png);
  }

  [data-id="2"] {
    background-image: url(../img/window/win2_color_3.png);
  }

  [data-id="3"] {
    background-image: url(../img/window/win3_color_3.png);
  }
}

[data-color_id="4"] {
  .w1 .window__bg {
    background-image: url(../img/window/strokes.1.color_4.png);
  }

  .w2 .window__bg {
    background-image: url(../img/window/strokes.2.color_4.png);
  }

  .w3 .window__bg {
    background-image: url(../img/window/strokes.3.color_4.png);
  }

  [data-id="1"] {
    background-image: url(../img/window/win1_color_4.png);
  }

  [data-id="2"] {
    background-image: url(../img/window/win2_color_4.png);
  }

  [data-id="3"] {
    background-image: url(../img/window/win3_color_4.png);
  }
}

[data-color_id="5"] {
  .w1 .window__bg {
    background-image: url(../img/window/strokes.1.color_5.png);
  }

  .w2 .window__bg {
    background-image: url(../img/window/strokes.2.color_5.png);
  }

  .w3 .window__bg {
    background-image: url(../img/window/strokes.3.color_5.png);
  }

  [data-id="1"] {
    background-image: url(../img/window/win1_color_5.png);
  }

  [data-id="2"] {
    background-image: url(../img/window/win2_color_5.png);
  }

  [data-id="3"] {
    background-image: url(../img/window/win3_color_5.png);
  }
}

[data-color_id="6"] {
  .w1 .window__bg {
    background-image: url(../img/window/strokes.1.color_6.png);
  }

  .w2 .window__bg {
    background-image: url(../img/window/strokes.2.color_6.png);
  }

  .w3 .window__bg {
    background-image: url(../img/window/strokes.3.color_6.png);
  }

  [data-id="1"] {
    background-image: url(../img/window/win1_color_6.png);
  }

  [data-id="2"] {
    background-image: url(../img/window/win2_color_6.png);
  }

  [data-id="3"] {
    background-image: url(../img/window/win3_color_6.png);
  }
}

[data-color_id="7"] {
  .w1 .window__bg {
    background-image: url(../img/window/strokes.1.color_7.png);
  }

  .w2 .window__bg {
    background-image: url(../img/window/strokes.2.color_7.png);
  }

  .w3 .window__bg {
    background-image: url(../img/window/strokes.3.color_7.png);
  }

  [data-id="1"] {
    background-image: url(../img/window/win1_color_7.png);
  }

  [data-id="2"] {
    background-image: url(../img/window/win2_color_7.png);
  }

  [data-id="3"] {
    background-image: url(../img/window/win3_color_7.png);
  }
}

[data-color_id="8"] {
  .w1 .window__bg {
    background-image: url(../img/window/strokes.1.color_8.png);
  }

  .w2 .window__bg {
    background-image: url(../img/window/strokes.2.color_8.png);
  }

  .w3 .window__bg {
    background-image: url(../img/window/strokes.3.color_8.png);
  }

  [data-id="1"] {
    background-image: url(../img/window/win1_color_8.png);
  }

  [data-id="2"] {
    background-image: url(../img/window/win2_color_8.png);
  }

  [data-id="3"] {
    background-image: url(../img/window/win3_color_8.png);
  }
}

[data-color_id="9"] {
  .w1 .window__bg {
    background-image: url(../img/window/strokes.1.color_9.png);
  }

  .w2 .window__bg {
    background-image: url(../img/window/strokes.2.color_9.png);
  }

  .w3 .window__bg {
    background-image: url(../img/window/strokes.3.color_9.png);
  }

  [data-id="1"] {
    background-image: url(../img/window/win1_color_9.png);
  }

  [data-id="2"] {
    background-image: url(../img/window/win2_color_9.png);
  }

  [data-id="3"] {
    background-image: url(../img/window/win3_color_9.png);
  }
}



.w1.active {
  .window__stvorka {
    &:nth-child(1) {
      background-image: url(../img/window/win_left.jpg);
    }
  }
}

.w2.active {
  .window__stvorka {
    &:nth-child(1) {
      background-image: url(../img/window/win_left.jpg);
    }

    &:nth-child(2) {
      background-image: url(../img/window/win_middle.jpg);
    }
  }
}

.w3.active {
  .window__stvorka {
    &:nth-child(1) {
      background-image: url(../img/window/win_left.jpg);
    }

    &:nth-child(2) {
      background-image: url(../img/window/win_middle.jpg);
    }

    &:nth-child(3) {
      background-image: url(../img/window/win_right.jpg);
    }
  }
}

// [data-type] {
//   background-color: #b8e8ff;
// }

[data-type="gluh"] {
  background-color: #b8e8ff;
}

[data-type="povorotno-otkidnaya"],
[data-type="povorotnaya"] {
  position: relative;

  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
    z-index: 2;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #b8e8ff;
    z-index: 1;
  }
}

[data-type="povorotnaya"] {

  &::after {
    background-image: url(../img/window/strokes.open.l.png);
  }
}

.s3[data-type="povorotnaya"] {
  &::after {
    margin-left: 7px;
    background-image: url(../img/window/strokes.open.r.png);
  }
}

.s2[data-type="povorotnaya"] {
  &::after {
    margin-left: 10px;
    background-image: url(../img/window/strokes.open.r.png);
  }
}

[data-type="povorotno-otkidnaya"] {

  &::after {
    background-image: url(../img/window/strokes.open.fl.png);
  }
}

.s3[data-type="povorotno-otkidnaya"] {
  position: relative;

  &::after {
    margin-left: 7px;
    background-image: url(../img/window/strokes.open.fr.png);
  }
}






/* 
Вывод изображений в карточке
Шаг 5. Укажите размеры окна
*/