/* 
Вывод изображений в карточке
Шаг 4. Укажите размеры окна
*/
.window {

    & .w1 .window__wrapper {
        width: 106px;
    }

    & .w2 .window__wrapper {
        width: 200px;
    }

    & .w3 .window__wrapper {
        width: 294px;
    }

}


/* 
Вывод изображений в карточке
Шаг 5. Укажите размеры окна
*/

.left-opening {
    .w1 {
        display: none;
    }

    .w2 {
        display: none;
    }

    .w3 {
        display: none;
    }

    & [data-active="1"] {
        .w1 {
            display: block;
        }
    }

    & [data-active="2"] {
        .w2 {
            display: block;
        }
    }

    & [data-active="3"] {
        .w3 {
            display: block;
        }
    }
}

.opening__right {}