.additionally {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
    gap: 40px;

    // .additionally__col

    &__col {}

    // .additionally__title

    &__title {
        margin-bottom: 15px;
    }

    // .additionally__wrapper

    &__wrapper {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;

        label {
            margin-bottom: 10px;
            font-size: 14px;
        }

        input {
            height: 40px;
            border: 1px solid rgba($color: $mainColor, $alpha: .3);
            padding-left: 10px;
        }
    }

    // .additionally__wrapper--pb

    &__wrapper--pb {}
}