.single-banner {
    padding: 40px 0px 0px;
    margin-bottom: 40px;

    // .single-banner__container

    &__container {}

    // .single-banner__body

    &__body {
        @media screen and (min-width: 700px) {
            display: grid;
            grid-template-columns: repeat(2, 50%);
        }
    }

    // .single-banner__col

    &__col {
        min-width: 0;

        &:last-child {
            @media screen and (min-width: 768px) {
                margin-left: 20px;
            }

            // flex: 1 1 auto;
        }
    }

    // .single-banner__title

    &__title {
        font-weight: 700;
        font-size: 32px;
        line-height: 120%;
        margin-bottom: 18px;
        max-width: 670px;

        @media screen and (max-width: 426px) {
            font-size: 25px;
        }


        span {
            display: inline;
            background-color: $accent;
            -webkit-box-decoration-break: clone;
            box-decoration-break: clone;
            padding: 0px 8px;
            color: $white;
        }
    }

    // .single-banner__subtitle
    &__subtitle {
        font-weight: 500;
        font-size: 18px;
        line-height: 150%;
    }

    // .single-banner__image

    &__image {
        display: block;
        animation: window 3s infinite;
        max-height: 500px;
        max-width: 500px;

        img {
            max-width: 100%;
            height: auto;
        }
    }

    .single-banner {}

    .single-banner__slider {}

    .single-banner__wrapper {}

    .single-banner__slide {
        min-height: 400px;

        img {
            max-width: 500px;
            height: 400px;

            @media screen and (max-width:769px) {
                max-width: 300px;
            }
        }
    }


}