//====================================================================================================
.header {
  background-color: $white;

  // .header__container

  &__container {}

  // .header__top

  &__top {}

  // .header__bottom

  &__bottom {}
}

.top-header {
  display: grid;
  grid-template-columns: 190px 1fr;
  gap: 10px;
  padding: 12px 0px 0px;

  @media screen and (max-width: 945px) {
    grid-template-columns: 161px 1fr;
  }

  @media screen and (max-width: 921px) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // .top-header__wrapper
  &__wrapper {


    @media screen and (min-width: 921px) {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

  }

  // .top-header__logo

  &__logo {
    display: block;

    @media screen and (max-width: 921px) {
      width: 82px;
      height: 38px;
    }

    img {
      max-width: 100%;
    }
  }

  // .top-header__info

  &__info {
    display: flex;
    align-items: center;
  }

  // .top-header__info--text

  &__info--text {
    flex: 1 1 auto;
    font-weight: 700;
    font-size: 20px;
    line-height: 86%;
    letter-spacing: 0.01em;
    color: $accent;
    margin-bottom: 10px;

    @media screen and (max-width: 921px) {
      font-size: 16px;
      margin-top: 17px;
    }
  }

  // .top-header__info--contact

  &__info--contact {
    display: flex;

    @media screen and (min-width: 921px) {
      align-items: center;
      margin-left: 10px;
    }

    @media screen and (max-width: 920px) {
      flex-direction: column;
      align-items: flex-start;
      margin-top: 39px;
    }
  }

  // .top-header__info--city

  &__info--city {
    font-weight: 500;
    font-size: 11px;
    line-height: 130%;
    margin-right: 13px;
  }

  // .top-header__info--phone

  &__info--phone {
    font-weight: 700;
    font-size: 16px;
    line-height: 108%;
    letter-spacing: 0.01em;

    @media screen and (max-width: 921px) {
      margin: 18px 0px;
    }
  }
}

.menu-top {

  // .menu-top__menu

  &__menu {}

  // .menu-top__social

  &__social {
    display: flex;
    align-items: center;

    a {
      width: 20px;
      height: 20px;

      &:not(:last-child) {
        margin-right: 12px;
      }

      img {
        max-width: 100%;
      }
    }
  }
}

.menu {
  display: flex;
  align-items: center;

  @media screen and (max-width: 920px) {
    position: fixed;
    top: 62px;
    left: -200%;
    width: 90%;
    height: calc(100vh - 62px);
    background-color: $white;
    z-index: 22;
    align-items: flex-start;
    flex-direction: column;
    padding: 25px;
    overflow-y: auto;
    transition: left $speed_animation ease 0s;
  }

  // .menu__body

  &__body {
    margin-top: 39px;

    @media screen and (min-width:921px) {
      flex: 1 1 auto;
      margin-top: 0px;
    }
  }

  // .menu__list

  &__list {
    display: flex;
    align-items: center;

    @media screen and (max-width: 1024px) {
      flex-wrap: wrap;
    }

    @media screen and (max-width: 921px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  // .menu__item

  &__item {
    height: 100%;

    &:not(:last-child) {

      @media screen and (min-width: 921px) {
        margin-right: 3.75rem;
      }

      @media screen and (max-width: 921px) {
        margin-bottom: 18px;
      }
    }
  }

  // .menu__link

  &__link {
    font-weight: 500;
    font-size: 14px;
    line-height: 132%;
    padding: 5px 0px;
    transition: color $speed_animation ease 0s;

    &:hover {
      color: $accent;
    }
  }
}


.bottom-header {
  display: grid;
  grid-template-columns: 190px 1fr;
  align-items: center;

  @media screen and (max-width: 945px) {
    grid-template-columns: 161px 1fr;
  }

  @media screen and (max-width: 920px) {
    display: flex;
  }


  // .bottom-header__calc

  &__calc {
    display: flex;
    align-items: center;

    button {
      width: 166px;
      height: 48px;
      background: $accent;
      border-radius: 2px;

      font-weight: 700;
      font-size: 14px;
      display: flex;
      align-items: center;
      justify-content: center;
      letter-spacing: 0.01em;
      color: $white;

      @media screen and (max-width: 921px) {
        height: 38px;
        margin-right: 20px;
      }
    }
  }

  // .bottom-header__body

  &__body {
    width: 100%;
  }

  // .bottom-header__list

  &__list {
    display: flex;

    @media screen and (min-width: 920px) {
      align-items: center;
      justify-content: space-between;
      flex: 1 1 auto;
    }

    @media screen and (max-width:1050px) {
      flex-wrap: wrap;
    }

    @media screen and (max-width: 920px) {
      flex-direction: column;
      align-items: flex-start;
    }
  }

  // .bottom-header__item

  &__item {
    position: relative;

    &:not(:last-child) {
      margin-bottom: 18px;

      @media screen and (min-width: 921px) {
        margin-right: 20px;
        margin-bottom: 0px;
      }

      @media screen and (max-width:1050px) {
        margin-right: 10px;
      }

      @media screen and (max-width: 921px) {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
      }
    }


    &:hover {
      .submenu {
        display: block;
      }
    }
  }

  // .bottom-header__link

  &__link {
    font-weight: 600;
    font-size: 16px;
    line-height: 132%;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 5px;
    border-style: solid;
    border-color: transparent;
    transition: border-color $speed_animation ease 0s;


    &:hover {
      border-color: $accent;
    }

    img {
      margin-right: 7px;
    }

    @media screen and (min-width: 920px) {
      padding: 33px 10px;
    }

    @media (min-width: 920px) and (max-width:950px) {
      font-size: 14px;
    }
  }


}

.reviews-count {
  width: 18px;
  height: 18px;
  border-radius: 50px;
  background-color: $accent;
  color: $white;
  font-size: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 8px;
}

.submenu {
  background-color: $white;
  z-index: 2;

  @media screen and (min-width: 920px) {
    position: absolute;
    left: 0;
    top: 100%;
    min-width: 330px;
    display: none;
  }

  // .submenu__item

  &__item {
    padding: 12px 30px;
    transition: background-color $speed_animation ease 0s;

    &:hover {
      background-color: $accent;

      .submenu__link {
        color: $white;
      }
    }

    @media screen and (max-width: 920px) {
      margin-top: 8px;
      padding: 5px 0px;
      padding-left: 10px;
    }
  }

  // .submenu__link

  &__link {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    transition: color $speed_animation ease 0s;

    @media screen and (max-width: 920px) {
      font-size: 14px;
    }
  }
}

.menu.menu-open {
  left: 0%;
}


//====================================================================================================

//Burger

.icon-menu {
  display: none;

  @media (max-width: 920px) {
    display: block;
    position: relative;
    width: 23px;
    height: 14px;
    cursor: pointer;
    z-index: 5;

    span,
    &::before,
    &::after {
      content: "";
      transition: all 0.3s ease 0s;
      right: 0;
      position: absolute;
      width: 100%;
      height: rem(2);
      background-color: #000;
    }

    &::before {
      top: 0;
    }

    &::after {
      bottom: 0;
    }

    span {
      top: calc(50% - rem(1));
    }

    .menu-open & {
      span {
        width: 0;
      }

      &::before,
      &::after {}

      &::before {
        top: calc(50% - rem(1));
        transform: rotate(-45deg);
      }

      &::after {
        bottom: calc(50% - rem(1));
        transform: rotate(45deg);
      }
    }
  }
}